body{
    background-color: #f3e2ea;
}
header{
    text-align: center;
    font: bolder 50px Georgia, serif;
    color: black;
    background-color: #b0f1f1;
    border-color: dodgerblue;
    margin-left: 20%;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    border-width: 22px;
    border-style: inset;
}
nav{
    text-align: left;
    font: bolder 30px "Nirmala UI", serif;
    color: darkred;
    background-color: #fafacb;
    border-color: #32aa17;
    margin-top: 20px;
    margin-left: 10%;
    width: 79%;
    height: 70px;
    display: flex;
    justify-content: left;
    align-items: center;
    border-width: 7px;
    border-style: solid;
}
nav ul {
    padding: 0;
    list-style-type: none;
    flex: 2;
    display: flex;
}

nav li {
    display: inline;
    text-align: center;
    flex: 1;

}
nav a{
    text-decoration: none;
}

main {
    text-align: left;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
}

article {
    background-color: #f4f0dd;
    font: 30px "HarmonyOS Sans SC", serif;
    flex: 7;
    border-color: #32aa17;
    border-width: 7px;
    border-style: solid;
    padding: 10px;
}
article h1 {
    color: blueviolet;
    font-style: italic;
    padding-left: 20px;
}
aside {
    background-color: #f4f0dd;
    font: bolder 25px "Nirmala UI", serif;
    height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #81ea6a mediumaquamarine;
    scrollbar-width: thin;
    position: sticky;
    top: 100px;
    flex: 2;
    font-size: 18px;
    border-color: #32aa17;
    margin-left: 2%;
    border-width: 7px;
    border-style: solid;
    border-right-style: none;
    padding-left: 10px;
}
aside a{
    text-decoration: none;
    color: #1999ef;
}
aside li {
    font-size: 21px;
    padding-bottom: 11px;
}
footer{
    text-align: right;
    position: fixed;
    bottom: 0;
    right:0;
    font: 14px FontAwesome, serif;
    margin-left: 85%;
    width: 10%;
    justify-content: center;
    align-items: center;
}
code.has-jax {font: inherit; font-size: 100%; background: inherit; border: inherit;}